<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreatePost</title>
</head>
<body>

    <form action="/board/save" method="post" enctype="multipart/form-data">

<!--        writer: <input type="text" name="user_name">-->
<!--        email: <input type="text" name="email"> <br><br>-->
<!--        pass: <input type="text" name="boardPass"> <br>-->
        title: <input type="text" name="boardTitle"> <br><br>
        contents: <br><textarea name="boardContents" cols="30" rows="10"></textarea> <br><br>
        boardFile: <input type="file" name="files" multiple> <br><br>
        <input type="submit" value="글작성">

    </form>

</body>
</html>
